<div class="table-wrapper">
  <label for="search" class="search-wrapper">
    <input
      [(ngModel)]="search"
      id="search"
      type="text"
      class="table-search"
      placeholder="Введите текст публикации..."
    />
  </label>
  <table class="table">
    <thead class="table__header">
      <tr>
        <th class="table__head-cell">
          <button
            class="sort-header-btn"
            [class.sort-header-btn--active]="sortedHeader === 'email'"
            (click)="sortTable('email')"
          >
            Имя
            {{ this.sortedHeader === 'email' && isIncrease ? '▲' : '△'
            }}{{ this.sortedHeader === 'email' && !isIncrease ? '▼' : '▽' }}
          </button>
        </th>
        <th class="table__head-cell">
          <button
            class="sort-header-btn"
            [class.sort-header-btn--active]="sortedHeader === 'name'"
            (click)="sortTable('name')"
          >
            Город
            {{ this.sortedHeader === 'name' && isIncrease ? '▲' : '△'
            }}{{ this.sortedHeader === 'name' && !isIncrease ? '▼' : '▽' }}
          </button>
        </th>
        <th class="table__head-cell">
          <button
            class="sort-header-btn"
            [class.sort-header-btn--active]="sortedHeader === 'body'"
            (click)="sortTable('body')"
          >
            Название публикации
            {{ this.sortedHeader === 'body' && isIncrease ? '▲' : '△'
            }}{{ this.sortedHeader === 'body' && !isIncrease ? '▼' : '▽' }}
          </button>
        </th>
        <th class="table__head-cell">
          <button
            class="sort-header-btn"
            [class.sort-header-btn--active]="sortedHeader === 'postId'"
            (click)="sortTable('postId')"
          >
            Комментарии
            {{ this.sortedHeader === 'postId' && isIncrease ? '▲' : '△'
            }}{{ this.sortedHeader === 'postId' && !isIncrease ? '▼' : '▽' }}
          </button>
        </th>
      </tr>
    </thead>
    <tfoot></tfoot>
    <tbody class="table-body">
      <tr class="table-body__row" *ngFor="let post of posts | filter: search">
        <td class="table-body__cell" *ngIf="post.email; else email">
          {{ post.email }}
        </td>
        <ng-template #email></ng-template>
        <td class="table-body__cell" *ngIf="post.name; else name">
          {{ post.name }}
        </td>
        <ng-template #name></ng-template>
        <td class="table-body__cell" *ngIf="post.body; else body">
          {{ post.body }}
        </td>
        <ng-template #body></ng-template>
        <td class="table-body__cell" *ngIf="post.postId; else postId">
          {{ post.postId }}
        </td>
        <ng-template #postId></ng-template>
      </tr>
    </tbody>
  </table>
</div>
