<div class="table-wrapper">
  <label for="search" class="search-wrapper">
    <input
      [(ngModel)]="search"
      id="search"
      type="text"
      class="table-search"
      (keyup)="filter()"
      placeholder="Введите текст публикации..."
    />
  </label>
  <table class="table">
    <thead class="table__header">
      <tr>
        <th class="table__head-cell">
          <button
            class="sort-header-btn"
            [class.sort-header-btn--active]="sortedHeader === 'userId'"
            (click)="sortTable('userId')"
          >
            Имя
            {{ this.sortedHeader === 'userId' && isIncrease ? '▲' : '△'
            }}{{ this.sortedHeader === 'userId' && !isIncrease ? '▼' : '▽' }}
          </button>
        </th>
        <th class="table__head-cell">
          <button
            class="sort-header-btn"
            [class.sort-header-btn--active]="sortedHeader === 'title'"
            (click)="sortTable('title')"
          >
            Город
            {{ this.sortedHeader === 'title' && isIncrease ? '▲' : '△'
            }}{{ this.sortedHeader === 'title' && !isIncrease ? '▼' : '▽' }}
          </button>
        </th>
        <th class="table__head-cell">
          <button
            class="sort-header-btn"
            [class.sort-header-btn--active]="sortedHeader === 'body'"
            (click)="sortTable('body')"
          >
            Название публикации
            {{ this.sortedHeader === 'body' && isIncrease ? '▲' : '△'
            }}{{ this.sortedHeader === 'body' && !isIncrease ? '▼' : '▽' }}
          </button>
        </th>
        <th class="table__head-cell">
          <button
            class="sort-header-btn"
            [class.sort-header-btn--active]="sortedHeader === 'id'"
            (click)="sortTable('id')"
          >
            Комментарии
            {{ this.sortedHeader === 'id' && isIncrease ? '▲' : '△'
            }}{{ this.sortedHeader === 'id' && !isIncrease ? '▼' : '▽' }}
          </button>
        </th>
      </tr>
    </thead>
    <tfoot></tfoot>
    <tbody class="table-body" *ngIf="search; else allPosts">
      <tr class="table-body__row" *ngFor="let post of filteredPosts">
        <td class="table-body__cell" *ngIf="post.userId">
          {{ post.userId.toString() }}
        </td>
        <td class="table-body__cell" *ngIf="post.title">
          {{ post.title }}
        </td>
        <td class="table-body__cell" *ngIf="post.body">
          <button class="post-btn" (click)="openModal(post.id)">
            {{ post.body }}
          </button>
        </td>
        <td class="table-body__cell" *ngIf="post.id">
          {{ post.id }}
        </td>
      </tr>
    </tbody>
    <ng-template #allPosts>
      <tbody class="table-body">
        <tr class="table-body__row" *ngFor="let post of posts">
          <td class="table-body__cell" *ngIf="post.userId">
            {{ post.userId.toString() }}
          </td>
          <td class="table-body__cell" *ngIf="post.title">
            {{ post.title }}
          </td>
          <td class="table-body__cell" *ngIf="post.body">
            <button class="post-btn" (click)="openModal(post.id)">
              {{ post.body }}
            </button>
          </td>
          <td class="table-body__cell" *ngIf="post.id">
            {{ post.id }}
          </td>
        </tr>
      </tbody>
    </ng-template>
  </table>
</div>
<app-modal-post
  *ngIf="isModalVisible"
  [post]="currentPost"
  [comments]="comments"
  [isCommentsFetching]="isCommentsFetching"
  [closeFunc]="closeModal"
></app-modal-post>
