<div class="table-wrapper">
  <label for="search" class="search-wrapper">
    <input
      [(ngModel)]="search"
      id="search"
      type="text"
      class="table-search"
      (keyup)="filter()"
      placeholder="Введите текст публикации..."
    />
  </label>
  <table class="table">
    <thead class="table__header">
      <tr>
        <th class="table__head-cell">
          <button
            class="sort-header-btn"
            [class.sort-header-btn--active]="sortedHeader === 'userName'"
            (click)="sortTable('userName')"
          >
            Имя
            {{ this.sortedHeader === 'userName' && isIncrease ? '▲' : '△'
            }}{{ this.sortedHeader === 'userName' && !isIncrease ? '▼' : '▽' }}
          </button>
        </th>
        <th class="table__head-cell">
          <button
            class="sort-header-btn"
            [class.sort-header-btn--active]="sortedHeader === 'userCity'"
            (click)="sortTable('userCity')"
          >
            Город
            {{ this.sortedHeader === 'userCity' && isIncrease ? '▲' : '△'
            }}{{ this.sortedHeader === 'userCity' && !isIncrease ? '▼' : '▽' }}
          </button>
        </th>
        <th class="table__head-cell">
          <button
            class="sort-header-btn"
            [class.sort-header-btn--active]="sortedHeader === 'title'"
            (click)="sortTable('title')"
          >
            Название публикации
            {{ this.sortedHeader === 'title' && isIncrease ? '▲' : '△'
            }}{{ this.sortedHeader === 'title' && !isIncrease ? '▼' : '▽' }}
          </button>
        </th>
        <th class="table__head-cell">
          <button
            class="sort-header-btn"
            [class.sort-header-btn--active]="sortedHeader === 'comments'"
            (click)="sortTable('comments')"
          >
            Комментарии
            {{ this.sortedHeader === 'comments' && isIncrease ? '▲' : '△'
            }}{{ this.sortedHeader === 'comments' && !isIncrease ? '▼' : '▽' }}
          </button>
        </th>
      </tr>
    </thead>
    <tfoot></tfoot>
    <tbody class="table-body" *ngIf="search; else allPosts">
      <tr class="table-body__row" *ngFor="let post of filteredPosts">
        <td class="table-body__cell" *ngIf="post.userName">
          {{ post.userName }}
        </td>
        <td class="table-body__cell" *ngIf="post.userCity">
          {{ post.userCity }}
        </td>
        <td class="table-body__cell" *ngIf="post.title">
          <button class="post-btn" (click)="openModal(post.id)">
            {{ post.title }}
          </button>
        </td>
        <td class="table-body__cell" *ngIf="post && post.comments">
          {{ post.comments.length }}
        </td>
      </tr>
    </tbody>
    <ng-template #allPosts>
      <tbody class="table-body">
        <tr class="table-body__row" *ngFor="let post of posts">
          <td class="table-body__cell" *ngIf="post.userName">
            {{ post.userName }}
          </td>
          <td class="table-body__cell" *ngIf="post.userCity">
            {{ post.userCity }}
          </td>
          <td class="table-body__cell" *ngIf="post.title">
            <button class="post-btn" (click)="openModal(post.id)">
              {{ post.title }}
            </button>
          </td>
          <td class="table-body__cell" *ngIf="post && post.comments; else loader">
            {{ post.comments.length }}
          </td>
        </tr>
      </tbody>
    </ng-template>
    <ng-template #loader>
      <div class="loader">Загружаются...</div>
    </ng-template>
  </table>
</div>
<app-modal-post
  *ngIf="isModalVisible"
  [post]="currentPost"
  [closeFunc]="closeModal"
></app-modal-post>
